<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        .tamanho {
            width: 100px;
        }
    </style>
</head>

<body>
    <header>
        <button class="btnperfil" type="submit"><img src="../../static/images/Usuario.svg"></button>
        <nav>
            <a class="minha-req" href="/usuario/menu"><img class="icon-req" src="../../static/images/Requisição.svg">
                Minhas Requisições</a>
            <a href="/usuario/solicitacao"><button class="nova-req"> <img class="icon-mais"
                        src="../../static/images/Mais.svg">Nova Requisição</button>
            </a>
        </nav>
        <div id="perfil" class="modal">
            <div class="icon-fechar"></div>
            <div class="profile">

                <div class="header">
                    <b>Meu Perfil</b>
                </div>

                <form action="/perfil" method='POST'>
                    <div class="informations">
                        <div>
                            <label>Nome</label>
                            <input name="nome" type="name" placeholder="{{nome}}">
                            <label>Email</label>
                            <input name="troca_email" type="email" placeholder="{{email}}">
                        </div>

                        <div class="linha-vertical"></div>

                        <div>
                            <label>Senha</label>
                            <input name="troca_senha" type="password" placeholder="{{senha[0]}}">
                        </div>
                    </div>

                    <div class="submit">
                        <button id="alterar">Alterar Dados</button>
                </form>
                <a href="/logout" id="sair">Sair</a>
            </div>
        </div>
    </header>
    <p class="title-nova-req"> Nova Requisição</p>
    <form class="formulario" action="/usuario/solicitacao" method="POST" enctype="multipart/form-data">
        <div class="title">
            <div>
                <label>Titulo</label>
                <input type="text" id="title" name="titulo">
            </div>
            
            <div>
                <label>Tipo</label>
                <select name="tipo">
                    <option value="Problemas de Software">Problemas de Software</option>
                    <option value="Problemas de Hardware">Problemas de Hardware</option>
                    <option value="Dúvidas ou Esclarecimentos">Dúvidas ou Esclarecimentos</option>
                </select>
            </div>
        </div>
        <div class="description">
            <label>Descrição</label> <br>
            <textarea id="description" name="descricao"></textarea>
        </div>
        <div class="archive">
            <label>Anexar arquivo (PNG, JPEG, JPG, GIF)</label> <br>
            <input type="file" id="archive" name="file">
        </div>

        <div class="buttons">
            <input class="enviar" type="submit" value="Enviar">
        </div>
    </form>
    <script>
        var modalperfil = document.getElementById("perfil");
        var btnsperfil = document.getElementsByClassName("btnperfil")[0];
        var fechar = document.getElementsByClassName("icon-fechar")[0];

        btnsperfil.onclick = function () {
            modalperfil.style.display = "block";
        }
        fechar.onclick = function () {
            modalperfil.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == modalperfil) {
                modalperfil.style.display = "none";
            }
        }
    </script>
</body>

</html>