<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliacao</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

</head>

<body>
    <div class="avaliacao">
        <div class="header">
            <b>Avaliação</b>
            <button><span class="material-icons close">close</span></button>
        </div>
        <div class="caras">
            <button>
                <img src='avaliacao/pessimo.png'>
                <span>Péssimo</span>
            </button>
            <button>
                <img src='avaliacao/ruim.png'>
                <span>Ruim</span>
            </button>
            <button>
                <img src='avaliacao/mediano.png'>
                <span>Mediano</span>
            </button>
            <button>
                <img src='avaliacao/bom.png'>
                <span>Bom</span>
                <button>
                    <img src='avaliacao/otimo.png'>
                    <span>Ótimo</span></b>
                </button>
        </div>
        <textarea>Descreva sua avaliação</textarea>
        <div class="submit">
            <button id="avaliar">Avaliar</button>
        </div>
    </div>
</body>

</html>