<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

</head>

<body>
    <div class="profile">

        <div class="header">
            <b>Meu Perfil</b>
            <button><span class="material-icons close">close</span></button>
        </div>

        <div class="informations">
            <div class="column">
                <p>Nome</p>
                <input type="name" maxlenght="60">
                <p id="afastar">Email</p>
                <input type="email" maxlenght="60">
            </div>

            <div class="linha-vertical"></div>

            <div class="column">
                <p>Senha</p>
                <input type="password" maxlenght="60">
                <p id="afastar">Confirmar Senha</p>
                <input type="password" maxlenght="60">
            </div>
            
        </div>

        <div class="submit">
            <button id="sair">Sair</button>
            <button id="alterar">Alterar Dados</button>
        </div>

    </div>
</body>

</html>