<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cadastre-se</title>
        <link rel="stylesheet" href="../../static/css/style.css">
        <link rel="stylesheet" href="../../static/css/global.css">
    </head>
    <body>
        <div class="voltar">
            <a href="">
                <img src="../../static/images/Voltar.svg" alt="Voltar">
            </a>
        </div>
        <div class="containerCadastro">
            <div class="cadastro">
                <h1>Cadastrar-se</h1>
                <div class="dados">
                    <label>Nome</label>
                    <input type="name">
                    <label>Email</label>
                    <input type="email">
                    <label>Senha</label>
                    <input type="password">
                    <label>Confirme sua senha</label>
                    <input type="password">
                </div>
                <div class="checks">
                    <input type="checkbox">Termos de Uso</input>
                    <br>
                    <input type="checkbox">Política de Privacidade</input>
                </div>

                <button>Entrar</button>
            </div>
        </div>
    </body>
</html>
