<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../static/css/style.css">
        <link rel="stylesheet" href="../../static/css/global.css">
        <title>Login</title>
    </head>
    <body>
        <div class="containerLogin">
            <h1>Login</h1>

            <label>Email</label>
            <input type="email">
            <label>Senha</label>
            <input type="password">
             <!--<a href="">Esqueceu sua senha</p>-->
            <button>Entrar</button>
        </div>
        <div class="containerCadastre">
            <p>Não tem uma conta ? <a href="">Cadastre-se agora</a></p>
        </div>
    </body>
</html>