<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../static/css/style.css">
        <link rel="stylesheet" href="../../static/css/global.css">
        <title>Login</title>
    </head>
    <body class="containerLogin">
        <div class="login">
            <h1>Login</h1>
            <div> 
                <label>Email</label>
                <input type="email">
            </div>
            <div>            
                <label>Senha</label>
                <input type="password">
            </div>   

             <!--<a href="">Esqueceu sua senha</p>-->
            <button>Entrar</button>
        </div>
        <p>Não tem uma conta ? <a href="">Cadastre-se agora</a></p>

    </body>
</html>