<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../static/css/style.css">
        <link rel="stylesheet" href="../../static/css/global.css">
        <title>Login</title>
    </head>
    <body class="containerLogin">
        <div class="login">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <form action="/login" method="POST">
                <h1>Login</h1>
                <div> 
                    <label>Email</label>
                    <input type="email" name="email">
                </div>
                <div>            
                    <label>Senha</label>
                    <input type="password" name="pass">
                </div>   

                <!--<a href="">Esqueceu sua senha</p>-->
                <button>Entrar</button>
            </form>
        </div>
        <p>Não tem uma conta ? <a href="/signup">Cadastre-se agora</a></p>

    </body>
</html>