<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
        <style>
            .tamanho {
                min-width: 200px;
                min-height: 100px;
                max-width: 400px;
                max-height: 300px;
                border-radius: 5px;
            }
        </style>
    </head>
    <body>
        <header>
            <nav>
                <button class="btnperfil" type="submit"><img src="../../static/images/Usuario.svg"></button></div>
                <input class="check-hamburguer" type="checkbox" id="click">
                <label for="click" class="menu-btn">
                    <i class="fas fa-bars"></i>
                </label>
                <ul>
                    <li class="dropdown"><a class="minha-chamada" href="/executor/chamadas-exec"><img class="icon-chamada" src="../../static/images/Manutencao.svg">Meus Chamados</a></li>
                    <li class="dropdown"><a class="minha-req" href="/executor/menu"><img class="icon-req" src="../../static/images/Requisição.svg">Minhas requisições</a></li>
                    <li class="dropdown">
                        <a href="/executor/solicitacao">
                            <button class="nova-req"> <img class="icon-mais"src="../../static/images/Mais.svg">Nova Requisição</button>
                        </a>
                    </li>
                </ul>
            </nav>

            <div id="perfil" class="modal">
                <div class="icon-fechar"></div>
                <div class="profile">
    
                    <div class="header">
                        <b>Meu Perfil</b>
                    </div>
    
                    <form action="/perfil_adm" method='POST'>
                        <div class="informations">
                            <div>
                                <label>Nome</label>
    
                                <input name="nome" type="name" placeholder="{{nome}}" required>
                                <label>Email</label>
                                <input name="troca_email" type="email" placeholder="{{email}}" required>
                            </div>
    
                            <div class="linha-vertical"></div>
    
                            <div>
                                <label>Senha</label>
                                <input name="troca_senha" type="password" placeholder="{{senha[0]}}" required>
    
                            </div>
                        </div>
    
                        <div class="submit">
                            <button id="alterar">Alterar Dados</button>
                    </form>
                    <a href="/logout" id="sair">Sair</a>
                </div>
            </div>
        </header>
        <p class="title-nova-req"> Nova Requisição</p>
        <form class="formulario" action="/executor/solicitacao" method="POST" enctype="multipart/form-data">
            <div class="title">
                <div>
                    <label>Titulo</label>
                    <input type="text" id="title" name="titulo" required>
                </div>
                <div>
                    <label>Tipo</label>
                    <select name="tipo">
                        <option value="Problemas de Software">Problemas de Software</option>
                        <option value="Problemas de Hardware">Problemas de Hardware</option>
                        <option value="Dúvidas ou Esclarecimentos">Dúvidas ou Esclarecimentos</option>
                    </select>
                </div> 
            </div> 
            <div class="description">
                <label>Descrição</label> <br>
                <textarea id="description" name="descricao" required></textarea> 
            </div>
            <div class="archive">
                <label>Anexar arquivo (PNG, JPEG, JPG, GIF)</label> <br>
                <input type="file" id="archive" name="file"> 
            </div> 

            <div class="buttons">
                <input class="enviar" type="submit" value="Enviar">                   
            </div>
        </form>
        <script>
            var modalperfil = document.getElementById("perfil");
            var btnsperfil = document.getElementsByClassName("btnperfil")[0];
            var fechar = document.getElementsByClassName("icon-fechar")[0];

            btnsperfil.onclick = function() {
                modalperfil.style.display = "block";
            }
            fechar.onclick = function() {
                modalperfil.style.display = "none";
            }
            window.onclick = function(event) {
              if (event.target == modalperfil) {
                modalperfil.style.display = "none";
              }
            }
        </script>  
    </body>
</html>