<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login</title>
</head>
<body>
    <div class="princ">
        <div class="containerLogin">
            <h1>Login</h1>
            <p>Email</p>
            <input style="margin-bottom: 20px;"></input>
            <p>Senha</p>
            <input type="password"></input>
            <a href="">Esqueceu sua senha</p>
            <button>Entrar</button>
        </div>

        <div class="containerCadastre">
            <a href="">
                <p>Não tem uma conta ? <b>Cadastre-se agora</b></p>
            </a>
        </div>

        <div class="ret1"></div>
        <div class="ret2"></div>
        <div class="ret3"></div>
        <div class="ret4"></div>
    </div>
</body>
</html>