<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    </head>
    <body>
        <header>
            <button class="btnperfil" type="submit"><img src="../../static/images/Usuario.svg"></button>
            <nav>
                <a class="minha-chamada" href="/adm"> Controle de usuários </a>
                <ul>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Requisições do Sistema</a>
                        <div class="dropdown-content">
                            <a href="/adm/requisicoes">Todas as Requsições</a>
                            <a href="/adm/estatisticas">Estatísticas das Requisições</a>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Minhas Requisições</a>
                        <div class="dropdown-content">
                            <a href="/adm/solicitacao">Criar chamados </a>
                            <a href="/adm/menu">Minhas Requisições</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div id="perfil" class="modal">
                <div class="icon-fechar"></div>
                <div class="profile">
            
                    <div class="header">
                        <b>Meu Perfil</b>
                    </div>
            
                    <form action="/perfil_adm" method='POST'>
                        <div class="informations">
                            <div>
                                <label>Nome</label>
                                <input name="nome" type="name" placeholder="{{nome}}" required>
                                <label>Email</label>
                                <input name="troca_email" type="email" placeholder="{{email}}" required>
                            </div>
                
                            <div class="linha-vertical"></div>
                
                            <div>
                                <label>Senha</label>
                                <input name="troca_senha" type="password" placeholder="{{senha[0]}}" required>
                            </div>
                        </div>
                
                        <div class="submit">
                            <button id="alterar">Alterar Dados</button>
                            </form>
                            <a href="/logout" id="sair">Sair</a>
                        </div>
                    </div>
        </header>
        <main>
            <p class="req-aberta">Lista de usuários</p>   
        {%for user in Details%}
            {%if user[4] == 'user'%}
                <details>
                    <summary>
                        <p>Usuario | {{user.1}} </p><!--variavel cargo e nome-->
                        <img class="seta-header" src="../../static/images/Seta.svg">
                    </summary>
                    <div class="info-user">
                        <p> {{user.2}}</p>  
                        <div class="sequencia-botao">
                            <a href="/view{{user.0}}"> <button>Visualizar chamados </button> </a>
                            <a href="/cargo{{user.0}}"> <button>Alterar Cargo</button></a>
                        </div>
                    </div>            
                </details>
            {%elif user[4] == 'exec'%}
            <details>
                <summary>
                    <p>Executor | {{user.1}} </p><!--variavel cargo e nome-->
                    <img class="seta-header" src="../../static/images/Seta.svg">
                </summary>
                <div class="info-user">
                    <p> {{user.2}}</p>
                    <div class="sequencia-botao">
                        <a href="/historico-avaliacao{{user.0}}"><button>Histórico de Avaliação</button></a> 
                        <a href="/view{{user.0}}"> <button >Visualizar chamados </button> </a>
                        <a href="/cargo{{user.0}}"><button>Alterar Cargo</button></a>
                    </div>
                </div>            
            </details>
            {%endif%}
            {%endfor%}
         </main>
         <script>
            var modalperfil = document.getElementById("perfil");
            var btnsperfil = document.getElementsByClassName("btnperfil")[0];
            var fechar = document.getElementsByClassName("icon-fechar")[0];

            btnsperfil.onclick = function() {
                modalperfil.style.display = "block";
            }
            fechar.onclick = function() {
                modalperfil.style.display = "none";
            }
            window.onclick = function(event) {
              if (event.target == modalperfil) {
                modalperfil.style.display = "none";
              }
            }
        </script> 
    </body>
</html>