/* Navbar User*/

header {
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color:#B8D7D9;
    padding: 5px 168px;
    height: 48px;
}

header img {
    height: 40px;
    width: 40px;
}
nav {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

a{
    text-decoration: none;
}

.minha-req {
    font-size: 16px; 
    color:#6D6D6D;  
    border:none;
    margin-right:60px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}

.nova-req{
    font-size: 16px; 
    color:#6D6D6D; 
    font-weight: 600;
    background-color:#FCFCFC; 
    border:none;
    border-radius: 8px;
    width:230px;
    Height:32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none
}
            
.minha-chamada{
    font-size: 16px; 
    color:#6D6D6D;  
    border:none;
    margin-right:60px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}

.minha-req:hover{
    font-size: 17px;
}
.nova-req:hover{
    font-size: 17px;
}

.minha-chamada:hover{
    font-size: 17px;
}

.icon-req{
    margin-right: 8px;
    height: 20px;
    width: 20px;
}

.icon-mais{
    margin-right: 8px;
    height: 15px;
    width: 15px;
}

.icon-chamada{
    margin-right: 8px;
    height: 18px;
    width: 18px;
}

/* Legendas*/

.legenda {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    margin: -24px 0px 40px 0px;
}

.hardware, .software, .info{
    border: solid 2px #A8A7A7;
    border-radius: 10px;
    height: 70px;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    margin-top: 24px;
}

.categoria{
    font-weight: 600;
    font-size: 18px;
}

.quant{
    font-size: 12px;
    font-weight: 400;
}

.icon{
    width: 50px;
    height: 50px;
}

/* Legendas*/
.filtro p, .filtro select{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border-color: white;
}

/* Formulario */
.title-nova-req{
    font-weight: 500;
    font-size: 24px;
    margin: 40px 168px 32px 168px;    
}

.formulario {
    border:solid  3px #A8A7A7; 
    border-radius: 15px;
    padding: 48px 36px;
    margin: 0px 168px 40px 168px ;
    background-color: #FCFCFC;   
}

label{
    margin-bottom: 8px; 
    font-weight: 500;
}

.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.title input {
    width: 100%;
}


.title input, .title select{
    display: block;
    border:solid  2px #A8A7A7;
    border-radius: 10px;
    height: 35px;
    padding: 0px 10px;
}

select {
    border:solid  2px #A8A7A7;
    border-radius: 10px;
    height: 35px;
    width: 100%;
}

.description textarea{
    border:solid  2px #A8A7A7;
    border-radius: 10px;
    padding: 5px 10px;
    height: 140px;
    width: 100%;
    margin-bottom: 24px;
    resize:vertical;   
}

.archive input{
    border:solid  2px #A8A7A7;
    border-radius: 10px;
    height: 35px;
    width: 260px;
}

.buttons{
    display: flex;
    justify-content: center;
    margin: 40px 0px 0px 0px;
}

.enviar{
    background-color: rgba(0, 155, 34, 1);
    color:#fff;
    font-size: 24px;
    border-radius: 15px;
    height: 50px;
    width: 200px;
    border:none;
}

.limpar{
    background-color:rgba(255, 224, 66, 0.9);
    border-radius: 15px;
    color:#000;
    font-size: 24px;
    height: 50px;
    width: 200px;
    border:none;
    margin-right: 56px;
}

/* Box das requisições vazias */

main {
    margin: 0px 168px 0px 168px ;
}

.req-aberta,.req-fechada, .tipo-legenda{
    font-weight: 500;
    font-size: 24px;
    margin: 40px 0px 32px 0px;
}

.box-req{
    border: solid 2px #A8A7A7;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
    font-size: 24;
    font-weight: 500;
}

/* Titulo chamados do executor */

.chamado-analise,.chamado-andamento,.chamado-fechada, .tipo-legenda{
    font-weight: 500;
    font-size: 24px;
    margin: 40px 0px 32px 0px;
}

/* Cards */

details{
    border:solid 2px #A8A7A7;
    border-radius: 10px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px 16px 16px;
    margin-bottom: 16px;
    position: relative;
}

details summary{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

summary p{
    font-weight: 600;  
    font-size: 18px;
}

summary img {
    height: 50px;
    width: 50px;  
}

.conteudo{
    overflow-wrap: break-word;
    width: 80%;
}

.conteudo p{
    font-weight: 600; 
    margin-bottom: 16px;
    font-size: 15px;
}

span{
    color:#6c6868;
    font-weight: 500;
    font-size: 14px; 
}

.texto-fechamento{
    border: solid 1px #A8A7A7;
    border-radius: 10px;
    min-height: 100px;
    max-height: 300px;
    width: 100%;
    padding: 10px 20px;
}

.detalhes-fechamento{
    font-weight: 600; 
    margin-bottom: 4px;
    font-size: 14px;    
}

.icon {
    height: 50px;
    width: 50px;  
}

.botao-padrao {
    height: 35px;
    width: 130px;
    background-color: rgba(255, 79, 100, 0.9);
    color:#FCFCFC;
    border-radius: 10px;
    border: none;
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.botao-padrao:hover{
    font-size: 14px;
}

/* Componente Aceitar/rejeitar*/

.rejeitar-aceitar{
    display: flex;
    justify-content: flex-end;
    margin-top:-16px
}

.rejeitar-aceitar .rejeitar{
    height: 35px;
    width: 90px;
    background-color: rgba(255, 79, 100, 0.9);
    color:#FCFCFC;
    border-radius: 10px;
    border: none;
    bottom: 16px;
    margin-right:24px ;
}

.rejeitar-aceitar .aceitar{
    height: 35px;
    width: 90px;
    background-color: rgba(0, 155, 34, 1);
    color:#FCFCFC;
    border-radius: 10px;
    border: none;
    bottom: 16px;
}

.rejeitar-aceitar .concluir{
    height: 35px;
    width: 90px;
    background-color: rgba(0, 155, 34, 1);
    color:#FCFCFC;
    border-radius: 10px;
    border: none;
    bottom: 16px;
}

/* Modal de Avaliacao */

.avaliacao, .profile{
    border: solid 5px #A8A7A7;
    border-radius: 20px;
    width: 52vw;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1%;
}

.avaliacao b, .profile b {
    font-size: 24px;
}

.avaliacao .header, .profile .header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.avaliacao .header b, .avaliacao .header span, .avaliacao .header button,
.profile .header b, .profile .header span, .profile .header button{
    margin-left: auto;
}

.avaliacao .header button, .profile .header button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.material-icons.close{
    font-size: 45px;
    color: #A8A7A7;
}

.caras {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 80%;
    margin: 2% 0;
}

.avaliacao .caras button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.avaliacao .caras span {
    font-weight: bold;
    font-size: 18px;
}

.avaliacao textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 25%);
    border: solid 2px #A8A7A7;
    border-radius: 10px;
    padding: 10px;
    height: 165px;
    width: 790px;
    resize: vertical;
    max-height: 165px;
    min-height: 165px;
}

.submit button{
    border: none;
    font-size: 22px;
    border-radius: 10px;
    height: 6vh;
    width: 15vw;
    margin: 40px 0px 20px 0px;
    cursor: pointer;
}
.submit #avaliar{
    color: #FCFCFC;
    background-color: #63C963;
}

/* Perfil */

.submit #sair{
    color: #fff;
    background-color: rgba(255, 79, 100, 0.9);
}

.submit #alterar{
    color: #000;
    background-color: #009B22;
}

.informations, .informations input{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.informations .column p{
    margin: 0%;
} 

.informations input{
    height: 4vh;
    width: 13vw;
    border: #A8A7A7 solid 3px;
    border-radius: 10px;
}

.linha-vertical {
    height: 25vh;
    border-left: 2px solid;
    color: #C0C0C0;
    margin: 5% 4% 0% 4%;
}

.profile .submit{
    display: flex;
    width: 100%;
    justify-content: end;
}

.profile .submit button{
    margin-left: 1%;
}

#afastar{
    margin-top: 20%;
}