<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <a href="">
        <span class="material-icons md-36">arrow_back_ios</span>
    </a>

    <div class="containerCadastro">
        <h1>Cadastrar-se</h1>

        <p>Nome</p>
        <input type="name" size="30" maxlength="60">
        <p>Email</p>
        <input type="email" size="30" maxlength="60">
        <p>Senha</p>
        <input type="password" size="30" maxlength="20">
        <p style="margin-left: -100px;">Confirme sua senha</p>
        <input type="password" size="30" maxlength="20">

        <div class="checks">
            <input type="checkbox">Termos de Uso</input>
            <br>
            <input type="checkbox">Política de Privacidade</input>
        </div>

        <button>Entrar</button>
    </div>
</body>

</html>