.containerCadastro p{
    font-family:'Poppins', sans-serif;
    font-size: 18px;
    margin: 1px;
    margin-left: -205px;
}

.containerCadastro h1{
    font-family:'Poppins', sans-serif;
    font-size: 22px;
}


.material-icons.md-36 { 
    font-size: 45px; 
    color: #A8A7A7;
    margin: 30px;
}

.containerCadastro{
    border: 7px solid #A8A7A7;
    border-radius: 10px;
    text-align: center;
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}

.containerCadastro input{
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: solid 2px #A8A7A7;
}

.containerCadastro .checks{
    font-family:'Poppins', sans-serif;
    text-align:start;
    margin-left: 100px;
    font-size: 15px;
}

.containerCadastro button{
    margin: 30px 0px;
    width: 180px;
    height: 50px;

    border: none;
    border-radius: 10px;
    background-color: #009B22;
    font-size: 18px;
}