<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    </head>
    <body>
        <header>
            <img src="../../static/images/Usuario.svg"> 
            <nav>
                <a class="minha-chamada" href="/executor/chamadas-exec"><img class="icon-chamada" src="../../static/images/Manutencao.svg"> Meus Chamados</a>
                <a class="minha-req" href="/executor/menu"><img class="icon-req" src="../../static/images/Requisição.svg"> Minhas requisições</a>
                <a href="/executor/solicitacao">
                <button class="nova-req"> <img class="icon-mais"src="../../static/images/Mais.svg">Nova Requisição</button>
                </a>
            </nav>
        </header>
        <main>
            <p class="req-aberta">Requisições Abertas</p>
            
            {%  if leitoraberto == 0 or Values == 0 %}
                <div class="box-req">
                <p>Sem requisições abertas no momento</p>
                </div>
            {% endif %}
            {% for user in Details %}   
                {% if user[4] =="Aberta" %}
                    <details>
                        <summary>
                            <p>{{user[1]}}</p><!--variavel titulo-->
                            <img src="../static/images/Hardware.png" alt="icon"> <!--variavel icon-->
                        </summary>
                        <div class="conteudo">
                            <p>Tipo: <span>{{user[3]}}</span></p>
                            <p>Descrição: <span>{{user[2]}}</span></p>
                            <p>Status: <span>{{user[4]}}</span></p>
                        </div>
                        <form action="/executor/{{user.0}}" method='POST'>
                            <button class="botao-padrao" type="submit">Apagar</button>             
                        </form>  
                    </details>
                {% endif %}
            {% endfor %}
            
            
            <p class="req-fechada">Requisições Fechadas</p>
            {%  if leitorfechado == 0 or Values==0 %}
                <div class="box-req">
                <p>Sem requisições abertas no momento</p>
                </div>
            {%endif%}
            {% for user in Details %}   
                {% if user[4] =="Fechada" %} 
                    <details>
                        <summary>
                            <p>{{user[1]}}</p><!--variavel titulo-->
                            <img src="../static/images/Hardware.png" alt="icon"> <!--variavel icon-->
                        </summary>
                        <div class="conteudo">
                            <p>Tipo: <span>{{user[3]}}<!--variavel tipo--></span></p>
                            <p>Descrição: <span>{{user[2]}}<!--variavel descricao--></span></p>
                        </div>
                        <p class="detalhes-fechamento"> Requisição Fechada por: <span> <!--variavel de usuario que fechou o chamado--></span></p> 
                        <div class="texto-fechamento">
                            <span> <!--variavel descricao de fechamento--></span>    
                        </div>
                    </details>
                {% endif %}
            {% endfor %}

            <p class="tipo-legenda">Tipos de problemas</p>
            <div class="legenda">
                <div class="hardware">
                    <div>
                        <p class="categoria">Problemas de Hardware</p>
                        <p class="quant">Quantidade:{{prob}}</p> <!--variavel de quantidade-->
                    </div>    
                    <img class="icon" src="../../static/images/Hardware.png" alt="hardware">
                </div>   
    
                <div class="software">
                    <div>
                        <p class="categoria">Problemas de Software</p>
                        <p class="quant">Quantidade:{{prob1}}</p> <!--variavel de quantidade-->
                    </div>    
                    <img class="icon" src="../../static/images/Software.png" alt="hardware">
                </div>  
    
                <div class="info">
                    <div>
                        <p class="categoria">Esclarecimento/informação</p>
                        <p class="quant">Quantidade:{{prob2}}</p> <!--variavel de quantidade-->
                    </div>    
                    <img class="icon" src="../../static/images/Info.png" alt="hardware">
                </div>  
            </div>
        </main>
    </body>
</html>